@model IEnumerable<iPede.Site.Models.Entities.Product>

<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="thumbnail product-list-item">
                <img src="@Url.Content(item.MainOrNoImage.Url)?w=200&h=200&mode=pad&scale=both" />
                <div class="caption">
                    <h3>@item.Name</h3>
                    <p>@item.ShortDescription</p>
                </div>
                <div>
                    <span class="actual">@Html.DisplayFor(modelItem => item.Price)</span>
                </div>
                <div class="btn-group text-left">
                    @Html.Partial("CartAddButton", item)
                    @Html.ActionLink("Detalhes", "Item", "Products", new { @id = item.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }

    <div id="modalDiv" class="col-md-3 shop_box" style="background-color: white; border: 2px solid black; display: none">
    </div>
</div>

