@model IEnumerable<iPede.Site.Models.Entities.SuggestedProduct>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    @Scripts.Render("~/bundles/admin-suggested")
    <script>
        admin_suggested.add_data.action = '@Url.Action("Add")';
        admin_suggested.remove_data.action = '@Url.Action("Remove")';

    </script>
}
<h2>Index</h2>
<div id="admin-suggested">
    <div id="list">@Html.Action("ChildList")</div>

    <div id="available">@Html.Action("ChildAvailableList")</div>
</div>