@model iPede.Site.Models.Entities.Order

@{
    ViewBag.Title = "Pedido";
}

<h2>Pedido</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

    </dl>
</div>
<div class="row text-center">
    @foreach (var item in Model.Items)
    {
        <div class="col-sm-3">
            <div class="thumbnail product-list-item">
                <img src="@Url.Content(item.Product.MainOrNoImage.Url)?w=200&h=200&mode=pad&scale=both" />
                <div class="caption">
                    <h3>@item.Product.Name</h3>
                    <span class="actual">@Html.DisplayFor(modelItem => item.Price)</span>
                </div>
            </div>

        </div>
    }
</div>
<p>
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
