@model iPede.Site.Models.Entities.Service

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja mesmo excluir?</h3>
<div>
    <h4>Serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <i class="fa fa-3x  @Html.DisplayFor(model => model.Icon) picker-target"></i>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à list", "Index")
        </div>
    }
</div>
