@model IEnumerable<iPede.Site.Models.Entities.Service>

@{
    ViewBag.Title = "Serviços";
}

<h2>Serviços</h2>

<p>
    @Html.ActionLink("Nova", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ServiceId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ServiceId }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.ServiceId })
        </td>
    </tr>
}

</table>
