@model iPede.Site.Models.Entities.BannerItem

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Item do banner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @if (Model.ImageUrl != null)
            {
                <img src="@Url.Content(Model.ImageUrl)" width="300" height="150" alt="Imagem" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkUrlType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkUrlType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.BannerItemId }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
