@model IEnumerable<iPede.Site.Models.Entities.BannerItem>

@{
    ViewBag.Title = "Items do banner";
}

<h2>Items do banner</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerticalPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkUrlType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerticalPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkUrlType)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.BannerItemId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.BannerItemId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.BannerItemId })
        </td>
    </tr>
}

</table>
