@model iPede.Site.Models.Entities.AboutUs
@{
    ViewBag.Title = "Quem Somos";
}
<div class="row team_box">
    <h3 class="m_2">Nossa equipe</h3>
    <div class="col-md-3 team1">
        <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="@Url.Content("~/Content/images/victor.jpg")" class="img-responsive" title="continue" alt="" /></a>
        <div id="small-dialog3" class="mfp-hide">
            <div class="pop_up2">
                <h2>Victor Matheus</h2>
            </div>
        </div>
        <h4 class="m_5"><a href="#">Gerente</a></h4>
        <p class="m_6">Idealizador e gerente geral do grupo</p>
    </div>
    <div class="col-md-3 team1">
        <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="@Url.Content("~/Content/images/yan.jpg")" class="img-responsive" title="continue" alt="" /></a>
        <div id="small-dialog3" class="mfp-hide">
            <div class="pop_up2">
                <h2>Yan Paulo</h2>
            </div>
        </div>
        <h4 class="m_5"><a href="#">Gerente de tecnologia</a></h4>
        <p class="m_6">Desenvolvedor-chefe dos sites e gerente de projetos</p>
    </div>
    <div class="col-md-3 team1">
        <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="@Url.Content("~/Content/images/alam.jpg")" class="img-responsive" title="continue" alt="" /></a>
        <div id="small-dialog3" class="mfp-hide">
            <div class="pop_up2">
                <h2>Alam Manoel</h2>
            </div>
        </div>
        <h4 class="m_5"><a href="#">Gerente de Artes/Técnico</a></h4>
        <p class="m_6">Responsável pelas artes e trabalha nos sites</p>
    </div>
    <div class="col-md-3 team1">
        <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="@Url.Content("~/Content/images/gabriel.jpg")" class="img-responsive" title="continue" alt="" /></a>
        <div id="small-dialog3" class="mfp-hide">
            <div class="pop_up2">
                <h2>Gabriel Cavalcante</h2>
            </div>
        </div>
        <h4 class="m_5"><a href="#">Gerente de Ideias/Técnico</a></h4>
        <p class="m_6">Responsável por idéias e pela produção/distribuição das camisetas. Também trabalha no site.</p>
    </div>
    <div class="clear"></div>
    <div class="col-md-3 team1">
        <a class="popup-with-zoom-anim" href="#small-dialog3"><img src="@Url.Content("~/Content/images/brian.jpg")" class="img-responsive" title="continue" alt="" /></a>
        <div id="small-dialog3" class="mfp-hide">
            <div class="pop_up2">
                <h2>Brian Mendes</h2>
            </div>
        </div>
        <h4 class="m_5"><a href="#">Gerente de Marketing</a></h4>
        <p class="m_6">Responsável pelo marketing, divulgação e campanhas da nossa loja.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 team_bottom">
        <ul class="team_list">
            <h4>Old Is Cool</h4>
            <li><a href="#">Somos uma equipe independente</a><p>Tivemos e executamos nossa própria ideia, pensando em um público como nós que precisa dos nossos produtos.</p></li>
            <li><a href="#">Camisetas originais</a><p>Artes exclusivas e que agradem ao público é o nosso foco.</p></li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul class="team_list">
            <h4>Old Is Cool</h4>
            <p class="m_7">
                A Old Is Cool é uma empresa que pretende atuar no cenário Underground com influências do hardrock, graffiti e tatuagem. É uma empresa criada para suprir a necessidade de pessoas que procuram um produto impactante no sentido de beleza e com qualidade.
            </p>
            <img src="@Url.Content("~/Content/images/skatistas.jpg")" class="img-responsive" alt="" />
        </ul>
    </div>
</div>