@model IEnumerable<iPede.Site.Models.Entities.BannerItem>

<!-- start slider -->
<div id="fwslider">
    <div class="slider_container">
        @foreach (var item in Model)
        {
            string linkUrl = "", linkTarget = "";
            if (!string.IsNullOrEmpty(item.LinkUrl))
            {
                if (item.LinkUrlType == iPede.Site.Models.Entities.UrlType.Internal)
                {
                    linkTarget = "_self";
                    linkUrl = Url.Content(item.LinkUrl);
                }
                else
                {
                    linkTarget = "_blank";
                    linkUrl = item.LinkUrl;
                }
            }
            <div class="slide">
                <!-- Slide image -->
                <img src="@Url.Content(item.ImageUrl)" class="img-responsive" alt="" />
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    @{ string wrapClass = "slide-text-middle";
                        if (item.VerticalPosition == iPede.Site.Models.Entities.BannerContentVerticalPosition.Top)
                        {
                            wrapClass = "slide-text-top";
                        }
                        else if (item.VerticalPosition == iPede.Site.Models.Entities.BannerContentVerticalPosition.Bottom)
                        {
                            wrapClass = "slide-text-bottom";
                        }}
                    <div class="slide_content_wrap @wrapClass">
                        <!-- Text title -->
                        <h1 class="title">@item.Title</h1>
                        <!-- /Text title -->
                        <div class="button"><a href="@linkUrl" target="@linkTarget">Detalhes</a></div>
                    </div>
                </div>
                <!-- /Texts container -->
            </div>
        <!-- /Duplicate to create more slides -->
        }
    </div>
    <div class="timers"></div>
    <div class="slidePrev"><span></span></div>
    <div class="slideNext"><span></span></div>
</div>
<!--/slider -->