@model iPede.Site.Models.Entities.ContactViewModel
@{
    ViewBag.Title = "Contato";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.Message as string != null)
    {
        <script>
            alert('@(ViewBag.Message as string)');
            window.location = '@(ViewBag.RedirectUrl as string)';
        </script>
    }
}



<div class="row">
    <div class="col-md-12" style="width: 100%; height: 400px; background: url('@Url.Content("~/Content/images/fale-conosco.jpg")') no-repeat center top">aaa</div>
    @*<img src="" alt="Alternate Text" />*@
</div>
<div class="row">
    <div class="col-md-12 contact">
        @using (Html.BeginForm())
        {
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
            <div class="to">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "text", placeholder = Html.DisplayNameFor(model => model.Name) } })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "text", placeholder = Html.DisplayNameFor(model => model.Phone) } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "text", placeholder = Html.DisplayNameFor(model => model.Email) } })
            </div>
            <div class="text">
                @Html.TextAreaFor(model => model.Content, htmlAttributes: new { placeholder = Html.DisplayNameFor(model => model.Content) })
                <div class="form-submit">
                    <input name="submit" type="submit" id="submit" value="Enviar"><br>
                </div>
            </div>
            <div class="clear"></div>
        }
    </div>
</div>